@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');
@font-face {
  font-family: 'PyeongChangPeace';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'PyeongChangPeace';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.ttf') format("truetype");
  font-display: swap;
}

:root {
  color-scheme: light only;
}


label:hover {
  cursor: pointer;
}

.memolock {
  height:calc(100vh - 100px);
}

.pplight {
  font-family: 'PyeongChangPeace';
  font-weight:400;
}


.ppbold {
  font-family: 'PyeongChangPeace';
  font-weight:700;
}

.ppresponse {
  font-family: 'PyeongChangPeace';
  font-weight:400;
}

@media (min-width:1024px) {
  .ppresponse {
    font-weight:700;
  }
}

body {
  margin: 0;
  font-family: 'NanumSquareNeoBold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafbfc;
	min-height: 100vh;
}



.loading-bg {
  width:100vw;
  min-height:100vh;
  background-color: white;
  opacity:0.7;
  position:fixed;
  top:0;
  left:0;
  z-index: 99999;
  overflow: hidden;
}

.jobList > div {
  width:100%;
  overflow:hidden
}